@media screen and (min-width: 768px) {
    .nav-item {
        margin-right: 57px;
    }

    .menu-nav-link {
        color: #212121;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

    .menu-nav-link:hover {
        color: #2196F3;
    }
}