.clients-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
}